@model MvcCodeFlowClientManual.Models.OAuthClientConfiguration
@{
    ViewBag.Title = "Home Page";
}

<div style="color: green;">
    <h2>Arlo</h2>
    <h4>OAuth Authorization code flow sample client</h4>
</div>

<div class="row">
    <div class="col-md-11">
        <h3>Scopes</h3>
        <div class="container-fluid">
            @using (Html.BeginForm()) {
                <p>
                    <strong>Examples</strong>
                    <ul>
                        <li>openid profile read write all_claims - insufficient scope failure (no roles scope)</li>
                        <li>openid profile read write roles events registrations - access to events/registrations only</li>
                        <li>openid profile read write roles all_claims - access to all of API surface that is exposed</li>
                        <li>openid profile read write roles all_claims offline_access - access to all of API surface that is exposed + refresh token</li>
                    </ul>
                    <div class="row">
                        <div class="col-xs4">
                            @Html.LabelFor(m => m.AuthorizationServerRootUri)
                        </div>
                        <div class="col-xs4">
                            @Html.TextBoxFor(m => m.AuthorizationServerRootUri, new { Style = "max-width: 650px;width:650px;" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs4">
                            @Html.LabelFor(m => m.ClientId)
                        </div>
                        <div class="col-xs4">
                            @Html.TextBoxFor(m => m.ClientId)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs4">
                            @Html.LabelFor(m => m.ClientSecret)
                        </div>
                        <div class="col-xs4">
                            @Html.TextBoxFor(m => m.ClientSecret)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs4">
                            @Html.LabelFor(m => m.CallbackUrl)
                        </div>
                        <div class="col-xs4">
                            @Html.TextBoxFor(m => m.CallbackUrl, new { Style = "max-width: 650px;width:650px;" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs4">
                            @Html.LabelFor(m => m.Tenant)
                        </div>
                        <div class="col-xs4">
                            @Html.TextBoxFor(m => m.Tenant)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs4">
                            @Html.LabelFor(m => m.Scopes)
                        </div>
                        <div class="col-xs4">
                            @Html.TextBoxFor(m => m.Scopes, new { Style = "width:450px;" })
                        </div>
                        <br/>
                        <button name="OK">Get Auth Code</button>
                    </div>
                </p>

            }
        </div>
    </div>

</div>